body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

video {
  min-height: 300px;
  border: 5px solid rgba(0, 0, 0, 0.02);
  width: 100%;
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
}

p {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons #startBtn {
  margin-right: 30px;
}

/* .buttons #videoButton {
  width: 100%;
  margin-bottom: 40px;
} */
